/* src/components/Footer.css */
* {
  margin-top: 0; /* Corrected margin to zero */
}

footer {
  background-color: #202021; /* Base background */
  color: #ffffff; /* Base text color */
  font-size: 0.9rem;
  display: flex;
  justify-content: space-evenly;
  padding: 15px 50px; /* Adjust padding */
  font-family: 'Poppins', sans-serif; /* Set font family */
}

.footer nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
}

.link {
  font-size: 1rem;
  color: #f7f7f7; /* Text color */
  text-decoration: none;
  transition: color 0.3s ease;
  line-height: 25px;
}

.link:hover {
  color: #2c71df; /* Hover color (blue) */
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: fill 0.3s ease;
}

.icon:hover {
  fill: #3b82f6; /* Hover color for icons */
}
