body {
  font-family: 'Poppins', sans-serif !important;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.registration-container {
  font-family: 'Poppins', sans-serif !important;
  display: flex;
  max-width: 1000px;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.registration-form {
  flex: 1;
  padding: 20px;
}

h3 {
  text-align: center;
  font-family: 'Poppins', sans-serif !important;
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-family: 'Poppins', sans-serif !important;
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.input-group {
  position: relative; /* Enables absolute positioning for the icon */
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 12px;
  padding-right: 40px; /* Adds space on the right for the eye icon */
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
  border-color: #2874f0;
  outline: none;
}

.input-group i {
  position: absolute;
  top: 50%;
  margin-top: 15px;
  right: 10px; /* Positions icon on the right side */
  transform: translateY(-50%); /* Centers icon vertically */
  cursor: pointer;
  color: #555;
  font-size: 18px;
}

input[type="checkbox"] {
  margin-left: 150px;
  margin-right: 10px;
}

label[for="agreeTerms"] {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  color: #555;
}

.register-button {
  font-family: 'Poppins', sans-serif !important;
  background-color: #0b0b0b;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 80%;
  margin: auto;
}

.register-button:hover {
  background-color: #000000;
}

.error-message {
  font-family: 'Poppins', sans-serif !important;
  color: red;
  text-align: center;
  margin-top: 10px;
}

.illustration-container {
  width: 40%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(139, 185, 222);
}

.illustration-container img {
  max-width: 90%;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}