/* UserProfilePage.css */

.user-profile-wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  color: #333333;
}

.user-profile-details {
  width: 100%;
  margin-bottom: 20px;
}

.user-profile-info {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.edit-profile-button {
  padding: 10px 20px;
  background-color: #333;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 15px;
  font-weight: 500;
}

.edit-profile-button:hover {
  background-color: #555555;
}

.user-profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #444;
}

.form-input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button, .cancel-button {
  padding: 12px;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 10px;
}

.submit-button {
  background-color: #007bff;
}

.submit-button:hover {
  background-color: #0056b3;
}

.cancel-button {
  background-color: #d9534f;
}

.cancel-button:hover {
  background-color: #c9302c;
}

.profilelogin-prompt h2 {
  text-align: center;
  color: #ffffff;
}

.profilelogin-button {
  margin-top: 20px;
  margin-left: 680px;
  padding: 12px;
  width: 10%;
  background-color: #043bba;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #1a7009;
}
