/* UserProfilePage.css */

/* Wrapper for the user profile page */
.pro-user-profile-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.pro-user-profile-header {
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* User profile details section */
.pro-user-profile-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: left;
}

.pro-user-profile-info {
  font-size: 18px;
  color: #ffffff;
}

/* Login prompt section */
.pro-profilelogin-prompt h2{
  text-align: center;
  padding: 5px;
  color: #ffffff !important;
}

.pro-profilelogin-button {
  background-color: #0c37c4;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 45%;
  width: 10%;
  border-radius: 40px;
}

.pro-profilelogin-button:hover {
  background-color: #45a049;
}

/* Logout button styling */
.pro-logout-button {
  background-color: #d9534f;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  margin: auto;
  width: 20%;
}

.pro-logout-link {
  color: white;
  text-decoration: none;
}

.pro-logout-button:hover {
  background-color: #c9302c;
}
