.tender-management-container {
  padding: 50px;
}
.tender-management-container h2{
  color: #fff;
  font-size: 40px;
}
.tender-table {
  width: 100%;
  border-collapse: collapse;
  background-color: black;
}

.tender-table th, .tender-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.tender-table th {
  background-color: #f4f4f4;
}

.tender-table td {
  text-align: center;
  color: #fff;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: rgb(11, 0, 0);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
